 h2{
    color: red;
 }
 .circle_pic{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border: solid white 1px;
   border-radius: 50%; 
}
 /* 클래스 선택자 쓸 때는 (.)온점을 붙여야함
 .클래스값으로 써야한다. */
 .highlight{
    border: solid;
   
 }
 .highlight_pic{
   width: 35px;
   height: 35px;
 }

/* 아이디 선택자를 쓸 때는 #아이디값으로 써야한다. */
 
#profile{

   border: solid;
   border-color: blue;
}
.profile_pic{
   width: 50px;
   height: 50px;
}
.thumbnail_grid{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}
.thumbnail{
   width: 100%;
}
#stat_bar{
   margin: 5px 0 5px 0;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   border-top: 1px solid grey;
   border-bottom: 1px solid grey;
}
.stat{
   text-align: center;
}



